src/files/exemplo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="person">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:integer"/>
        <xsd:element name="age" type="xsd:integer"/>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
